@charset "utf-8";
/*==============================================================================================
 						URCSA Melodi Ya Tshwane custom style-sheet
 ===============================================================================================*/

/*==============================
1. Font, Content and Alignment
================================*/
/* Google font to be used throughout site body */
body{
	font-family: 'PT Serif', serif;
	font-size: 16px;
}

/* Google font to be used throughout site headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
	font-family: 'Raleway', sans-serif;
}

.myt-cen-txt{					
	text-align: center;	/* align text to center-use Bootstrap 'center-block' for <img> */
}

.myt-white-font{	
	color: #FFFFFF;		/* white font on black backgrounds */
}

abbr[title]{
	border: none;			/* no underline for abbreviations */
	text-decoration: none;	/* no underline for abbreviations */
	cursor: auto;			/* remove default help cursor */
}

abbr:hover, 
abbr:active, 
abbr:focus {
	content: attr(title);	/* abbr title content as tooltip */
}

@media (max-width: 767px){
	article abbr:hover, 
	article abbr:active, 
	article abbr:focus {
		content: attr(title);	/* abbr title content as tooltip */
	}
}

p[title="Choir itunes"] > a:visited {
	border: none;				
}


/*==============================
2. Grid and Layout
================================*/
/* header must not hide main content */
.main-body{
	margin-top: 58px;
}

/* spacing in between sections */
article section{
	padding-top: 15px;
	padding-bottom: 15px;
}

/* header must not hide main content in small devices*/
@media (max-width: 767px){
	.main-body{
		margin-top: 58px;
	}
}


/*==============================
3. Header and Footer
================================*/
footer {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer > div {
 	background-color: #4E505D;	/* background color for page footer */
	color: #FFFFFF; 			/* text color(White) for page footer */
}

footer a {
	color: #00FFFF;				/* text color(Aqua) for links in page footer */
}

footer a:visited {
	border: none;
}

footer a:hover,
footer a:focus {
	color: #00FFFF;				/* text color(Aqua) for hovering links in page footer */
}

header{
	top: 0;						/* header must not hide main content */		
	padding: 10px;
}

header .navbar-default{
	background-color: #4E505D;			/* navbar color */
	border-radius: 0px 0px 30px 30px;	/* rounded corners on bottom-left and bottom-right */
}

/* offset padding-left a little further to allow space for navbar-brand */
header .navbar-default .navbar-nav {
	padding-left: 55px;
}

/* override bootstrap padding for navbar-brand */
header .navbar-default .navbar-brand {
	padding: 0px;
}

/* first level navbar links: default display */
header .navbar-default .navbar-nav > li > a{
	color: #FFFFFF;
}

/* first level navbar links: hover display */
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a:focus {
  	color: #00FFFF;
}

/* first level navbar links: display after hover */
header .navbar-default .navbar-nav > li > a:hover::after,
header .navbar-default .navbar-nav > li > a:focus::after {
  	color: #FFFFFF;
}

header .navbar-default .navbar-toggle .icon-bar {
  	background-color: #e7e7e7;
}

/* first level open navbar links */
header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
  color: #00FFFF;
  background-color: #4E505D;
}

/* last level open navbar links */
header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background-color: #4E505D;
}

header .navbar-toggle{
	float: none;		/* overwrite bootstrap navbar-toggle not to float to right */
}

header .navbar-toggle .icon-bar { 
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-right: auto;	/* center the icon-bar  */
  margin-left: auto;	/* center the icon-bar  */
}

/* style for the search toggler button */
header .toggle-search{
	float: right;     	 	/* must display on right side */
	background: #4E505D; 	/* dark grey background*/
	border-color: #4E505D;
	color: #FFFFFF;
	padding: 15px;
}

/* change styles of drop-down links in header for medium, small and extra small devices */
@media (max-width: 767px) {
	/* dont add offset padding-left for menubar on mobile devices*/
	header .navbar-default .navbar-nav {
		padding-left: 0px;
	}

	/* override bootstrap padding for navbar-brand on mobile devices */
	header .navbar-default .navbar-brand {
		padding: 10px;
	}

	/* first level navbar links: default display */
	header .navbar-default .navbar-nav > li > a{
		color: #FFFFFF;			
	}
	
	/* first level navbar links: hover display */
	header .navbar-default .navbar-nav > li > a:hover,
	header .navbar-default .navbar-nav > li > a:focus {
	  	color: #00FFFF;			
	}
	
	/* first level navbar links: display after hover */
	header .navbar-default .navbar-nav > li > a:hover::after,
	header .navbar-default .navbar-nav > li > a:focus::after {
	  	color: #FFFFFF;
	}
	
	/* first level open navbar links */
	header .navbar-default .navbar-nav > .open > a,
	header .navbar-default .navbar-nav > .open > a:hover,
	header .navbar-default .navbar-nav > .open > a:focus {
	  color: #00FFFF;
	  background-color: #4E505D;
	}
	
	/* second level open navbar links */
	header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	  color: #FFFFFF;				
	}
	
	/* last level open navbar links */
	header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	    color: #4E505D;
	    background-color: #FFFFFF;
	}
	
	/* style for the search toggler button on mobile devices */
	header .toggle-search{
		padding: 20px;		/* only padding changes for alignment */
	}
	
}

/*================================
4. Animation and Popups
==================================*/
.scrollIcon{			 /* used camelCase for jQuery 'animate()' */
	position: fixed;
	width: 30px;
	height: 30px;
	bottom: 20px;	  	 /* place icon at bottom of page */
	right: 20px;	  	 /* place icon on right side of page */
	background: #4E505D; /* dark grey background*/
}

a.scrollIcon i {
	margin-top: 10px;
	color: #FFFFFF;
}

a.scrollIcon {
	text-align: center;
}

/* display search box */
.search-box-display{
	display: block;
}

/* hide search box */
.search-box-hide{
	display: none;
}

/*=================================
5. Animation and Popups: Navbar
===================================*/
.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    will-change: transform, opacity
}

@-webkit-keyframes fall-in {
    0% {-webkit-transform: perspective(400px) rotateX(-90deg);}
    
    100% {-webkit-transform: perspective(400px) rotateX(0deg);}
}

@-moz-keyframes fall-in {
    0% {-moz-transform: perspective(400px) rotateX(-90deg);}

    100% {-moz-transform: perspective(400px) rotateX(0deg);}
}

@-o-keyframes fall-in {
    0% {-o-transform: perspective(400px) rotateX(-90deg);}
    
    100% {-o-transform: perspective(400px) rotateX(0deg);}
}

@keyframes fall-in {
    0% {transform: perspective(400px) rotateX(-90deg);}
    
    100% {transform: perspective(400px) rotateX(0deg);}
}

.animated.fall-in {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ie-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: fall-in;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: fall-in;
  -o-backface-visibility: visible !important;
  -o-animation-name: fall-in;
  backface-visibility: visible !important;
  animation-name: fall-in;
}

@-webkit-keyframes fall-out {
    0% {-webkit-transform: perspective(400px) rotateX(0deg);}
    
  	100% {-webkit-transform: perspective(400px) rotateX(-90deg);}
}

@-moz-keyframes fall-out {
    0% {-moz-transform: perspective(400px) rotateX(0deg);}
    
  	100% {-moz-transform: perspective(400px) rotateX(-90deg);}
}

@-o-keyframes fall-out {
    0% {-o-transform: perspective(400px) rotateX(0deg);}
    
  	100% {-o-transform: perspective(400px) rotateX(-90deg);}
}

@keyframes fall-out {
    0% {transform: perspective(400px) rotateX(0deg);}
    
  	100% {transform: perspective(400px) rotateX(-90deg);}
}

.animated.fall-out {
  -webkit-transform-origin: top;
  -webkit-animation-name: fall-out;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: fall-out;
  -moz-backface-visibility: visible !important;
  -o-animation-name: fall-out;
  -o-backface-visibility: visible !important;
  animation-name: fall-out;
  backface-visibility: visible !important;
}


/*==============================
Plugins, iFrames and Widgets
================================*/

/* style the instafeed div - For Instagram feed */
/* #instafeed img{ */
/* 	max-height: 100%; */
/* } */
#instafeed img:hover{
	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	transform: scale(1.3);
}
#instafeed-btn button{		/* for 'See More' button */
	margin-bottom: 5px;		/* place button not too close to footer */
	text-align: center;		/* center button on page */
}

